In [1]:
import psycopg2

In [2]:
import datetime
from dateutil import parser

In [3]:
host = ''
dbname = ''
port = 5439
user = ''
pwd = ''

In [13]:
#account_id = '089476987273'
account_id = '266593598212'
fwrite = open('../billing/%s.csv' % (account_id), 'w')

In [14]:
con = psycopg2.connect(dbname=dbname, host=host, port=port, user=user, password=pwd)
cur = con.cursor()

In [15]:
current_date = datetime.datetime.today()
#current_date = datetime.datetime(2017,3,1)
start_date = datetime.datetime(2016, 8, 1)

In [13]:
fwrite.write("ds,y\n")
while current_date.date() > start_date.date():
    if current_date.year == start_date.year and current_date.month == start_date.month:
        next_date = datetime.datetime(current_date.year, current_date.month, current_date.day)
        #print('start_date : %s' % start_date)
        #print('next_date : %s' % next_date)
        if next_date < start_date:
            break
    else:
        next_date = start_date + datetime.timedelta(days=31)
        next_date = datetime.datetime(next_date.year, next_date.month, 1)
    sql = "select cast(lineitem_usageenddate as date) enddate, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended"
    sql += " from AWSBilling%s" % (start_date.strftime('%Y%m'))
    sql += " where lineitem_usageaccountid = '%s'" %(account_id)
    sql += " and lineitem_usageenddate < '%s'" % (next_date.strftime('%Y-%m-%d'))
    sql += " and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1"
    sql += " group by enddate order by enddate"
    print(sql);
    """print('start_date : %s' % start_date)
    print('next_date : %s' % next_date)
    start_date = next_date"""

    cur.execute(sql)
    #data = [("%s,%s" % (str(a[0]), a[1])) for a in cur.fetchall()]
    #csv_data = "\n".join(data)
    #cur.fetchall()
    for row in cur.fetchall():
        fwrite.write("%s,%s\n" % (str(row[0]), row[1]))

    start_date = next_date

select cast(lineitem_usageenddate as date) enddate, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201608 where lineitem_usageaccountid = '089476987273' and lineitem_usageenddate < '2016-09-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddate order by enddate
select cast(lineitem_usageenddate as date) enddate, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201609 where lineitem_usageaccountid = '089476987273' and lineitem_usageenddate < '2016-10-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddate order by enddate
select cast(lineitem_usageenddate as date) enddate, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201610 where lineitem_usageaccountid = '089476987273' and lineitem_usageenddate < '2016-11-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddate order by enddate
select cast(lineitem_usageenddate as date) enddate, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201611 where lineitem_usageaccountid = '089476987273' and lineitem_usageenddate < '2016-12-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddate order by enddate
select cast(lineitem_usageenddate as date) enddate, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201612 where lineitem_usageaccountid = '089476987273' and lineitem_usageenddate < '2017-01-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddate order by enddate
select cast(lineitem_usageenddate as date) enddate, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201701 where lineitem_usageaccountid = '089476987273' and lineitem_usageenddate < '2017-02-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddate order by enddate
select cast(lineitem_usageenddate as date) enddate, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201702 where lineitem_usageaccountid = '089476987273' and lineitem_usageenddate < '2017-03-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddate order by enddate
select cast(lineitem_usageenddate as date) enddate, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201703 where lineitem_usageaccountid = '089476987273' and lineitem_usageenddate < '2017-04-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddate order by enddate
select cast(lineitem_usageenddate as date) enddate, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201704 where lineitem_usageaccountid = '089476987273' and lineitem_usageenddate < '2017-04-09' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddate order by enddate

In [7]:
while current_date.date() > start_date.date():
    if current_date.year == start_date.year and current_date.month == start_date.month:
        next_date = datetime.datetime(current_date.year, current_date.month, current_date.day)
        if next_date < start_date:
            break
    else:
        next_date = start_date + datetime.timedelta(days=31)
        next_date = datetime.datetime(next_date.year, next_date.month, 1)
    sql = "select cast(lineitem_usageenddate as datetime) enddatetime, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended"
    sql += " from AWSBilling%s" % (start_date.strftime('%Y%m'))
    sql += " where lineitem_usageaccountid = '%s'" %(account_id)
    sql += " and lineitem_usageenddate < '%s'" % (next_date.strftime('%Y-%m-%d'))
    sql += " and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1"
    sql += " group by enddatetime order by enddatetime"
    print(sql);
    """print('start_date : %s' % start_date)
    print('next_date : %s' % next_date)
    start_date = next_date"""

    cur.execute(sql)
    for row in cur.fetchall():
        target_datetime = parser.parse(str(row[0]))
        fwrite.write("%s%02d,%s\n" % (target_datetime.weekday(), target_datetime.hour, row[1]))
        #fwrite.write("%s,%s\n" % (str(row[0]), row[1]))
        #timestamp = (parser.parse(str(row[0])).strftime('%s'))
        #fwrite.write("%s,%s\n" % (timestamp, row[1]))

    start_date = next_date

select cast(lineitem_usageenddate as datetime) enddatetime, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201608 where lineitem_usageaccountid = '266593598212' and lineitem_usageenddate < '2016-09-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddatetime order by enddatetime
select cast(lineitem_usageenddate as datetime) enddatetime, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201609 where lineitem_usageaccountid = '266593598212' and lineitem_usageenddate < '2016-10-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddatetime order by enddatetime
select cast(lineitem_usageenddate as datetime) enddatetime, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201610 where lineitem_usageaccountid = '266593598212' and lineitem_usageenddate < '2016-11-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddatetime order by enddatetime
select cast(lineitem_usageenddate as datetime) enddatetime, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201611 where lineitem_usageaccountid = '266593598212' and lineitem_usageenddate < '2016-12-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddatetime order by enddatetime
select cast(lineitem_usageenddate as datetime) enddatetime, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201612 where lineitem_usageaccountid = '266593598212' and lineitem_usageenddate < '2017-01-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddatetime order by enddatetime
select cast(lineitem_usageenddate as datetime) enddatetime, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201701 where lineitem_usageaccountid = '266593598212' and lineitem_usageenddate < '2017-02-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddatetime order by enddatetime
select cast(lineitem_usageenddate as datetime) enddatetime, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201702 where lineitem_usageaccountid = '266593598212' and lineitem_usageenddate < '2017-03-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddatetime order by enddatetime
select cast(lineitem_usageenddate as datetime) enddatetime, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201703 where lineitem_usageaccountid = '266593598212' and lineitem_usageenddate < '2017-04-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddatetime order by enddatetime
select cast(lineitem_usageenddate as datetime) enddatetime, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201704 where lineitem_usageaccountid = '266593598212' and lineitem_usageenddate < '2017-04-17' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddatetime order by enddatetime

In [16]:
while current_date.date() > start_date.date():
    if current_date.year == start_date.year and current_date.month == start_date.month:
        next_date = datetime.datetime(current_date.year, current_date.month, current_date.day)
        if next_date < start_date:
            break
    else:
        next_date = start_date + datetime.timedelta(days=31)
        next_date = datetime.datetime(next_date.year, next_date.month, 1)
    sql = "select cast(lineitem_usageenddate as datetime) enddatetime, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended"
    sql += " from AWSBilling%s" % (start_date.strftime('%Y%m'))
    sql += " where lineitem_usageaccountid = '%s'" %(account_id)
    sql += " and lineitem_usageenddate < '%s'" % (next_date.strftime('%Y-%m-%d'))
    sql += " and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1"
    sql += " group by enddatetime order by enddatetime"
    print(sql);
    """print('start_date : %s' % start_date)
    print('next_date : %s' % next_date)
    start_date = next_date"""

    cur.execute(sql)
    for row in cur.fetchall():
        target_datetime = parser.parse(str(row[0]))
        fwrite.write("%s,%s%02d,%s\n" % (str(row[0]), target_datetime.weekday(), target_datetime.hour, row[1]))

    start_date = next_date

select cast(lineitem_usageenddate as datetime) enddatetime, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201608 where lineitem_usageaccountid = '266593598212' and lineitem_usageenddate < '2016-09-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddatetime order by enddatetime
select cast(lineitem_usageenddate as datetime) enddatetime, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201609 where lineitem_usageaccountid = '266593598212' and lineitem_usageenddate < '2016-10-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddatetime order by enddatetime
select cast(lineitem_usageenddate as datetime) enddatetime, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201610 where lineitem_usageaccountid = '266593598212' and lineitem_usageenddate < '2016-11-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddatetime order by enddatetime
select cast(lineitem_usageenddate as datetime) enddatetime, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201611 where lineitem_usageaccountid = '266593598212' and lineitem_usageenddate < '2016-12-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddatetime order by enddatetime
select cast(lineitem_usageenddate as datetime) enddatetime, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201612 where lineitem_usageaccountid = '266593598212' and lineitem_usageenddate < '2017-01-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddatetime order by enddatetime
select cast(lineitem_usageenddate as datetime) enddatetime, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201701 where lineitem_usageaccountid = '266593598212' and lineitem_usageenddate < '2017-02-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddatetime order by enddatetime
select cast(lineitem_usageenddate as datetime) enddatetime, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201702 where lineitem_usageaccountid = '266593598212' and lineitem_usageenddate < '2017-03-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddatetime order by enddatetime
select cast(lineitem_usageenddate as datetime) enddatetime, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201703 where lineitem_usageaccountid = '266593598212' and lineitem_usageenddate < '2017-04-01' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddatetime order by enddatetime
select cast(lineitem_usageenddate as datetime) enddatetime, to_char(sum(cast(lineitem_unblendedcost as float)), 'FM999990D00') unblended from AWSBilling201704 where lineitem_usageaccountid = '266593598212' and lineitem_usageenddate < '2017-04-17' and datediff(hour,cast(lineitem_usagestartdate as datetime),cast(lineitem_usageenddate as datetime)) = 1 group by enddatetime order by enddatetime

In [17]:
fwrite.close()
cur.close()
con.close()